.condition{
    position: absolute;
    left: 6rem;
}

.core{
    position: relative;
}

button{
    background-color: red;
    color: white;
    outline: none;
    border: none;
    padding: 0.2rem 0.8rem;
    font-weight: 400;
    margin-bottom: 0.2rem;
}